footer>ul {
    display: flex;
    flex-direction: row;
  }
  
  table {
    padding-bottom: 20px;
  }
  
  td , th {
    border: solid;
  }
  
  footer {
    display: block;
    background-color: grey;
    width: 500px;
  }
  
  footer > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer > ul > li {
    padding: 20px;
  }
  
  footer > ul > li > a {
    text-decoration: none;
    color: black;
  }
  
  li > a:hover {
    color: red;
  }